<div class="container mt-3 mb-3" style="max-width: 700px; margin: 0 auto;">
  <!-- Breadcrumb -->
  <div class="card">
    <nav aria-label="breadcrumb" class="card-header">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a [routerLink]="['/']" class="text-decoration-none">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/schedule']" class="text-decoration-none">Schedules</a></li>
        <li class="breadcrumb-item active text-black" aria-current="page">Add Schedule</li>
      </ol>
    </nav>
    <div class="card-body p-4">
      <div class="form-container">
        <h3 class="form-title">Edit Schedule</h3>
        <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
          <!-- Doctor Name Dropdown -->
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="doctorId">Doctor Name</label>
                <select class="form-control" id="doctorId" formControlName="doctorId">
                  <option value="">Select a doctor</option>
                  <option *ngFor="let doctor of doctors" [value]="doctor.doctorId">
                    {{ doctor.firstName }} {{ doctor.lastName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Weekday Dropdown -->
              <div class="form-group">
                <label class="form-label" for="weekDay">Available Days</label>
                <select class="form-control" id="weekDay" formControlName="weekDay">
                  <option value="" disabled selected>Select a day</option>
                  <option value="Monday">Monday</option>
                  <option value="Tuesday">Tuesday</option>
                  <option value="Wednesday">Wednesday</option>
                  <option value="Thursday">Thursday</option>
                  <option value="Friday">Friday</option>
                  <option value="Saturday">Saturday</option>
                  <option value="Sunday">Sunday</option>
                </select>
              </div>
            </div>
          </div>
          
          <!-- Time Inputs -->
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-group time-inputs">
                <div class="time-input">
                  <label class="form-label" for="startTime">Start Time</label>
                  <input class="form-control" id="startTime" type="time" formControlName="startTime" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group time-inputs">
                <div class="time-input">
                  <label class="form-label" for="endTime">End Time</label>
                  <input class="form-control" id="endTime" type="time" formControlName="endTime" />
                </div>
              </div>
            </div>
          </div>
          
          <!-- Success/Error Messages -->
          <div *ngIf="message" class="alert" [ngClass]="{'alert-success': success, 'alert-danger': !success}" role="alert">
            {{ message }}
          </div>
          
          <!-- Status Checkbox -->
          <div class="form-group">
            <label>Status</label><br>
            <input type="radio" formControlName="status" name="status" [value]="true" id="active"> 
            <label for="active">Active</label>
            <input class="ms-4" type="radio" formControlName="status" name="status" [value]="false" id="inactive"> 
            <label for="inactive">Inactive</label>
          </div>

          <!-- Submit Button -->
          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit" [disabled]="!scheduleForm.valid">Save Schedule</button>
          </div>

        </form>
        <!-- Success/Error Messages -->
        <div *ngIf="message" class="alert" [ngClass]="{'alert-success': success, 'alert-danger': !success}" role="alert">
          {{ message }}
        </div>
      </div>
    </div>
  </div>
</div>
