@if(successMessage.length>0){
    <div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Success!</strong>{{successMessage}}
  </div>
}
@if(errorMessage.length>0){
  <div class="alert alert-warning alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Failed!</strong>{{errorMessage}}
  </div>
}
<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                 <!-- Breadcrumb -->
                 <nav aria-label="breadcrumb" class="card-header">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a [routerLink]="['/']" class="text-decoration-none">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/appointments']" class=" text-decoration-none">Appointments</a></li>
                        <li class="breadcrumb-item active text-black" aria-current="page">Add Appointment</li>
                    </ol>
                </nav>
                <div class="card-body">
                    <!-- Form Starts -->
                    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="patient" class="form-label">Patient Name</label>
                                    <select name="patient" id="patient" formControlName="patient" class="form-select form-control" (change)="onPatientSelect($event)">
                                        <option value='' selected>Select</option>
                                        <option *ngFor="let patient of patients" [value]="patient.patientId">{{patient.patientName}}</option>
                                    </select>
                                </div>
                                <small class="text-danger small" *ngIf="reactiveForm.controls.patient.touched && reactiveForm.controls.patient.errors?.['required']">
                                    *Patient is required
                                </small>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="visitPurpose" class="form-label">Purpose of Visit</label>
                                    <select name="purposeOfVisit" formControlName="purposeOfVisit" id="visitPurpose" class="form-select form-control">
                                        <option value='' selected>Select</option>
                                        <option *ngFor="let option of purposeOfVisit" [value]="option.purpose">
                                            {{ option.purpose }}
                                          </option>
                                    </select>
                                </div>
                                <small class="text-danger small" *ngIf="reactiveForm.controls.purposeOfVisit.touched && reactiveForm.controls.purposeOfVisit.errors?.['required']">
                                    *Purpose of visit is required
                                </small>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="department" class="form-label">Department</label>
                                    <select id="department" class="form-select form-control">
                                        <option value='' selected>Select</option>
                                        <option *ngFor="let department of departments" [value]="department.departmentId">{{department.departmentName}}</option>   
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="doctor" class="form-label">Doctor</label>
                                    <select name="doctorId" formControlName="doctor" id="doctor" class="form-select form-control">
                                        <option value='' selected>Select</option>
                                        <option *ngFor="let doctor of doctors" [value]="doctor.doctorId">{{doctor.firstName}} {{doctor.lastName}}</option>
                                    </select>
                                </div>
                                <small class="text-danger small" *ngIf="reactiveForm.controls.doctor.touched && reactiveForm.controls.doctor.errors?.['required']">
                                    *Doctor is required
                                </small>
                            </div>
                        </div>

                        <!-- Date Picker -->
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="appointmentDate" class="form-label">Date</label>
                                    <div class="input-group" id="datetimepickerDate">
                                        <input [class.is-invalid]="reactiveForm.get('date')?.touched && reactiveForm.get('date')?.invalid" name="date" formControlName="date" type="date" class="form-control" id="appointmentDate" [attr.min]="minDate" [attr.max]="maxDate" />
                                    </div>
                                    <small class="text-danger small" *ngIf="reactiveForm.get('date')?.touched && reactiveForm.controls.date.errors?.['required']">
                                        *Date is required
                                    </small>
                                    <small class="text-danger small" *ngIf="reactiveForm.get('date')?.touched && reactiveForm.controls.date.errors?.['pastDate']">
                                        *Date cannot be in past
                                    </small>
                                    <small class="text-danger small" *ngIf="reactiveForm.get('date')?.touched && reactiveForm.controls.date.errors?.['futureDateExceeded']">
                                        *Date cannot exceed 30 days in the future
                                    </small>
                                </div>
                            </div>

                            <!-- Time Picker -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="appointmentTime" class="form-label">Time</label>
                                    <div class="input-group" id="datetimepickerTime">
                                        <input [class.is-invalid]="reactiveForm.get('time')?.touched && reactiveForm.get('time')?.invalid" name="time" formControlName="time" type="time" class="form-control" id="appointmentTime" />
                                    </div>
                                    <small class="text-danger small" *ngIf="reactiveForm.get('time')?.touched && reactiveForm.controls.time.errors?.['required']">
                                        *Time is required
                                    </small>
                                    <small class="text-danger small" *ngIf="reactiveForm.get('time')?.touched && reactiveForm.controls.time.errors?.['timeInPast']">
                                        *Time cannot be in past
                                    </small>
                                    <small class="text-danger small" *ngIf="reactiveForm.get('time')?.touched && reactiveForm.controls.time.errors?.['doctorUnavailable']">
                                        *Doctor unavailable for this slot
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="patientEmail" class="form-label">Email</label>
                                    <input [class.is-invalid]="reactiveForm.get('email')?.touched && reactiveForm.get('email')?.invalid" name="email" formControlName="email" type="email" class="form-control" id="patientEmail" placeholder="Enter email">
                                </div>
                                <small class="text-danger small" *ngIf="reactiveForm.controls.email.touched && reactiveForm.controls.email.errors?.['required']">
                                    *Email is required
                                </small>
                                <small class="text-danger small" *ngIf="reactiveForm.controls.email.touched && reactiveForm.controls.email.errors?.['email']">
                                    *Enter a valid email
                                </small>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="patientPhone" class="form-label">Phone Number</label>
                                    <input [class.is-invalid]="reactiveForm.get('phone')?.touched && reactiveForm.get('phone')?.invalid" name="phone" formControlName="phone" type="text" class="form-control" id="patientPhone" placeholder="Enter phone number">
                                </div>
                                <small class="text-danger small" *ngIf="reactiveForm.controls.phone.touched && reactiveForm.controls.phone.errors?.['required']">
                                    *Phone number is required
                                </small>
                                <small class="text-danger small" *ngIf="reactiveForm.controls.phone.touched && reactiveForm.controls.phone.errors?.['pattern']">
                                    *Enter a valid phone number with +91
                                </small>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea formControlName="message" [class.is-invalid]="reactiveForm.get('message')?.touched && reactiveForm.get('message')?.invalid" name="message" class="form-control" id="message" rows="4" placeholder="Enter any message"></textarea>
                            <small class="text-danger small" *ngIf="reactiveForm.controls.message.touched && reactiveForm.controls.message.errors?.['required']">
                                *Message is required
                            </small>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" >Submit Appointment</button>
                        </div>
                    </form>
                    <!-- Form Ends -->
                </div>
            </div>
        </div>
    </div>
</div>
