
<p>{{doctor?.firstName}}</p>
<img [src]="'data:img/png;base64,'+doctor?.profilePicture" alt="">
<p>dateOfBirth : {{doctor?.dateOfBirth}}</p>
<p>biography : {{doctor?.briefDescription}}</p>
<p>experience : {{doctor?.experienceInYears}}</p>
<p>address : {{doctor?.address}}</p>
<p>email : {{doctor?.email}}</p>
<p>gender : {{doctor?.gender}}</p>
<p>qualification : {{doctor?.qualification}}</p>
<p>status : {{doctor?.status}}</p>
<p>dept.id : {{doctor?.departmentId}}</p>
<p>specialization : {{doctor?.specialization}}</p>
<p>country : {{doctor?.country}}</p>
<p>city : {{doctor?.address}}</p>



