
  <div class="appointment-filter">
    <button class="btn btn-primary" (click)="toggleDropdown()">
      Filter Appointments
    </button>
    <div class="dropdown-container">
      <div class="dropdown" [class.show]="isDropdownVisible">
        <button class="dropdown-item" (click)="filterAppointments('active')">Active</button>
        <button class="dropdown-item" (click)="filterAppointments('inactive')">Inactive</button>
      </div>
    </div>
</div>
  
  <div *ngIf="appointments.length > 0">
    <!-- <h3>{{ filterType | titlecase }} Appointments</h3> -->
    <h3>{{ filterType ? (filterType | titlecase) + ' Appointments' : 'Appointments' }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Purpose of Visit</th>
          <th>Date</th>
          <th>Time</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Status</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.id }}</td>
          <td>{{ appointment.purposeOfVisit }}</td>
          <td>{{ appointment.date }}</td>
          <td>{{ appointment.time }}</td>
          <td>{{ appointment.email }}</td>
          <td>{{ appointment.phone }}</td>
          <td>{{ appointment.status }}</td>
          <td>{{ appointment.message }}</td>
        </tr>
      </tbody>
    </table>
  </div>