
<div class="header mt-3">
  <h4 style="color: #565656;">Doctors</h4>
  <button [routerLink]="['/doctor/add']" class="add-doctor-btn rounded-pill">+ Add Doctor</button>
</div>
 <!-- Dropdown for selecting page size -->
 <div class="page-size-selector mb-3">
  <label for="pageSize">Show: </label>
  <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange($event)">
    <option [value]="10">10</option>
    <option [value]="25">25</option>
    <option [value]="50">50</option>
    <option [value]="100">100</option>
  </select>
  <label>Entries</label>
</div>

 
<div class="doctor-grid">
  <div *ngFor="let doctor of doctors" class="doctor-card">
    <div class="doctor-card-content">
      <div class="menu-container">
        <button class="menu-btn" (click)="toggleMenu(doctor.doctorId)">⋮</button>
        <div *ngIf="currentDoctorId === doctor.doctorId" class="dropdown-menu">
          <a [routerLink]="['/doctor/edit', doctor.doctorId]" class="dropdown-item">
            <i class="fas fa-edit me-2 text-muted"></i>
            Edit</a>
          <!-- Add more options here if needed -->
        </div>
      </div>
      <img [routerLink]="['/doctor', doctor.doctorId]"
           [src]="doctor.profilePicture ? 'data:image/png;base64,' + doctor.profilePicture : fallbackimage"
           [alt]="doctor.firstName + ' ' + doctor.lastName"
           class="doctor-image">
      <h2 class="doctor-name">{{ doctor.firstName }} {{ doctor.lastName }}</h2>
      <p class="specialization">{{ doctor.specialization }}</p>
      <p class="location">
        <i class="fas fa-map-marker-alt"></i>
        {{ doctor.city }}
      </p>
    </div>
  </div>
</div>

<div class="pagination">
  <nav *ngIf="!isLoading && !errorMessage">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="pageNumber === 1">
        <a class="page-link" (click)="changePage(pageNumber - 1)">Previous</a>
      </li>
      <li *ngFor="let p of pages" class="page-item" [class.active]="p === pageNumber">
        <a class="page-link" (click)="changePage(p)">{{ p }}</a>
      </li>
      <li class="page-item" [class.disabled]="pageNumber === pages.length">
        <a class="page-link" (click)="changePage(pageNumber + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>

<div class="display-range">
  {{ getDisplayRange() }}
</div>


