
<div class="form-container">
    <h2 class="form-title">Add Schedule</h2>
    <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
      <!-- Doctor Name Dropdown -->
      <div class="form-group">
        <label class="form-label" for="doctorId">Doctor Name</label>
        <select class="form-control" id="doctorId" formControlName="doctorId">
          <option value="">Select a doctor</option>
          <option *ngFor="let doctor of doctors" [value]="doctor.doctorId">
            {{ doctor.firstName }} {{ doctor.lastName }}
          </option>
        </select>
      </div>
      
      <!-- Weekday Input -->
      <div class="form-group">
        <label class="form-label" for="weekDay">Weekday</label>
        <input
          class="form-control"
          id="weekDay"
          type="text"
          placeholder="e.g. Monday"
          formControlName="weekDay"
        />
      </div>
      
      <!-- Time Inputs -->
      <div class="form-group time-inputs">
        <div class="time-input">
          <label class="form-label" for="startTime">Start Time</label>
          <input
            class="form-control"
            id="startTime"
            type="time"
            formControlName="startTime"
          />
        </div>
        <div class="time-input">
          <label class="form-label" for="endTime">End Time</label>
          <input
            class="form-control"
            id="endTime"
            type="time"
            formControlName="endTime"
          />
        </div>
      </div>
      
      <!-- Status Checkbox -->
      <div class="form-group">
        <label>Status:</label>
        <label>
          <input type="radio" formControlName="status" [value]="true"> Active
        </label>
        <label>
          <input type="radio" formControlName="status" [value]="false"> Inactive
        </label>
      </div>
      
      <!-- Submit Button -->
      <div class="form-group">
        <button class="submit-button" type="submit" [disabled]="!scheduleForm.valid">CREATE SCHEDULE</button>
      </div>
    </form>
  </div>
  